{{define "head"}}<title>Список доступных лотов</title>{{end}}
{{define "body"}}
    <script type="text/javascript">
        function Add100Price(lot) {
            var http = new XMLHttpRequest();
            http.open("POST", lot, true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "newPrice=100"
            http.send(params);
        }

        function WebSocketPrice() {
            if ("WebSocket" in window) {
                var ws = new WebSocket("ws://localhost:5000/auction/ws");
                ws.onopen = function () {
                    alert("WS is opened");
                };

                ws.onmessage = function(evt) {
                    var received_msg = JSON.parse(evt.data);

                    document.getElementById("price_"+received_msg.LotID).innerHTML = "<pre>" + received_msg.Price + "</pre>";
                };

                ws.onclose = function () {
                    alert("WS is closed");
                };
            } else {
                alert("WebSocket is not supported in your browser");
            }
        }
    </script>
    <h1>Лоты</h1>
    <p>
        <a href="auction/lots/add" >Добавить лот</a>
    </p>
    <div>
        <table border="1">
            <tr>
                <th>ИД лота</th>
                <th>Описание</th>
                <th>Текущая цена</th>
            </tr>
            {{range $key,$value := . }}
            <tr>
                <td>{{$value.ID}}</td>
                <td>{{$value.Title}}</td>
                <td><div id="price_{{$value.ID}}">{{$value.StartPrice}}</div></td>
                <td>
                    <form action="" method="post" onsubmit="Add100Price('/auction/lots/{{$value.ID}}/updprice');return false;">
                        <p><input type="submit" value="+100"/></p>
                    </form>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
{{end}}